@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
:root{
    --bg-color: #F2F2F2;
    --s-bg-color: #D0D2E1;
    --main-color: #E83838;
    --text-color: #000;
    --o-text-color: #fff;
}
*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body::-webkit-scrollbar{
    width: 6px;
}
body::-webkit-scrollbar-thumb{
    border-radius: 6px;
    background: var(--main-color);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
header{
    top: 0%;
    width: 100%;
    height: 70px;
    display: flex;
    z-index: 1000;
    position: fixed;
    background: var(--bg-color);
}
.navigation-container{
    width: 100%;
    display: flex;
    padding: 0px 20px;
    justify-content: space-between;
}
.logo-container{
    width: 344px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-container a{
    width: 100%;
    display: flex;
    font-size: 26px;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
}
.logo-container a i{
    font-size: 30px;
    font-weight: 500;
    margin-right: 7px;
    color: var(--main-color);
}
.logo-container a span{
    color: var(--main-color);
}
.links{
    width: 20%;
    max-width: 35%;
    display: flex;
    padding: 12px;
    align-items: center;
    justify-content: space-around;
}
.links a{
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
    color: var(--text-color);
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.5s ease-in;
    -webkit-transition: border-bottom 0.5s ease-in;
    -moz-transition: border-bottom 0.5s ease-in;
    -ms-transition: border-bottom 0.5s ease-in;
    -o-transition: border-bottom 0.5s ease-in;
}
.links a:hover{
    border-bottom: 3px solid var(--main-color);
}
.buttons{
    gap: 20px;
    padding: 12px;
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: flex-end;
}
.buttons .cart{
    width: 70px;
    height: 50px;
    display: flex;
    font-weight: 600;
    align-items: center;
    border-radius: 4rem;
    justify-content: center;
    color: var(--text-color);
    background: var(--s-bg-color);
    -webkit-border-radius: 4rem;
    -moz-border-radius: 4rem;
    -ms-border-radius: 4rem;
    -o-border-radius: 4rem;
}
.buttons .cart i{
    font-size: 25px;
    background: none;
    margin-right: 5px;
    color: var(--main-color);
}
.profile-button a,
.logout-button a{
    width: 180px;
    height: 50px;
    display: flex;
    cursor: pointer;
    font-weight: 600;
    align-items: center;
    border-radius: 4rem;
    justify-content: center;
    color: var(--text-color);
    background: var(--s-bg-color);
    -webkit-border-radius: 4rem;
    -moz-border-radius: 4rem;
    -ms-border-radius: 4rem;
    -o-border-radius: 4rem;
}
.profile-button i,
.logout-button i{
    font-size: 24px;
    margin-right: 6px;
}
.profile-button .cog,
.logout-button .cog{
    color: var(--main-color);
}
.navigation-section{
    left: 0%;
    top: 70px;
    gap: 12px;
    bottom: 0%;
    width: 280px;
    padding: 15px;
    z-index: 1000;
    display: flex;
    position: fixed;
    flex-direction: column;
    height: calc(100vh - 70px);
    background: var(--bg-color);
}
.navigation-section .picture{
    gap: 12px;
    display: flex;
    padding: 12px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: var(--text-color);
}
.navigation-section .picture span{
    font-size: 22px;
    font-weight: 700;
    color: var(--text-color);
}
.navigation-section .circle{
    width: 150px;
    padding: 3px;
    height: 140px;
    display: flex;
    border-radius: 100%;
    background-size: cover;
    border: 2px solid var(--main-color);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
.navigation-section .circle img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
.navigation-categories{
    gap: 20px;
    display: flex;
    padding: 10px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.navigation-categories a{
    width: 100%;
    height: 45px;
    display: flex;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
    align-items: center;
    border-radius: 12px;
    padding: 0.9em 1.2em;
    color: var(--text-color);
    transition: all .40s ease;
    background: var(--s-bg-color);
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    -webkit-transition: all .40s ease;
    -moz-transition: all .40s ease;
    -ms-transition: all .40s ease;
    -o-transition: all .40s ease;
}
.navigation-categories a i{
    font-size: 24px;
    margin-right: 18px;
}
.navigation-categories a:hover{
    color: var(--o-text-color);
    background-color: var(--main-color);
    transform: scale(1.01) translateY(-5px);
    -webkit-transform: scale(1.01) translateY(-5px);
    -moz-transform: scale(1.01) translateY(-5px);
    -ms-transform: scale(1.01) translateY(-5px);
    -o-transform: scale(1.01) translateY(-5px);
}
.navigation-categories .active{
    color: var(--o-text-color);
    background-color: var(--main-color);
}
main{
    display: flex;
    margin-top: 70px;
    margin-left: 280px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 70px);
}
.welcome{
    width: 55%;
    padding: 20px;
    text-align: center;
    border-radius: 16px;
    background: var(--s-bg-color);
    border: 3px dashed var(--main-color);
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}